.mktEditor {
  position:fixed;
  right:0;
  top:75px;
  color:#333;
  width:250px;
  height:100%;
  border-left:1px solid #666;
  background-color:#dbd1de;
  padding:5px;
}
.mktEditor .mktDragWrap {
  width:100px;
  height:100px;
  line-height:100px;
  position:relative;
  text-align: center;
  border-radius: 3px;
  border:1px solid #999;  
}
.mktDropTarget {min-height: 20px;}

.mktEditor .mktDrag {
  width:100px;
  height:100px;
  position:absolute;
  background-color:#dbd1de;
  top:-1px;
  left:-1px;
  border-radius: 3px;
  border:1px solid #999;  
}

.mktPlaceholder {
  border:2px dashed red;
  max-height:300px;
  float:left; width:100%;
}

.mktModalScreen{ 
  background-color: white;
  display: block;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  z-index: 500;
}
.mktModalClose {
  height: 11px;
  opacity: .7;
  padding: 17px;
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
}
.mktModalClose::after {
  content: '';
  background: url('//ssl.gstatic.com/ui/v1/dialog/close-x.png');
  position: absolute;
  height: 11px;
  width: 11px;
  right: 17px;
}
.mktModalContent {
  box-shadow:(#ccc 0px 4px 16px 0px);
  background-color:white;
  border:1px solid rgba(0, 0, 0, 0.332031);
  color:black;
  display: block;
  font-family: arial, sans-serif;
  margin:0;
  padding:30px 42px;
  position: absolute;
  top: 200px;
  z-index: 501;
}
.mktButtonRow{
  font-size: 14px;
  height: 29px;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  padding: 0;
}
.mktImgList .mktImgBox {
  width:102px;
  height:102px;
}
.mktImageList img {
  display:block;
  float:left;
  max-width:100px;
  max-height:100px;
  margin:20px;
  border:1px solid transparent;
}

.mktClear {clear:both; float:none;}

.mktImageList img:hover {
  cursor:pointer;
  border:1px solid #378FDC;
}

.mktDraggable {
  position:relative;
}
.mktDraggable:hover{
  box-shadow:#000 0 0 10px 1px;
}
.mktDraggable:hover .mktEdit{
  display:block;
}

.mktEdit {
  display:none;
  height:25px; width:150px; 
  background-color:#ccc;
  background-color:rgba(255, 255, 255, .5);
  position:absolute;
  top:1px;
  left:1px;
}
.mktEdit .mktHandle{
  width:35px; height:25px;
  cursor:move;
  float:left;
  background:transparent url(/images/grab-drag.png) center center no-repeat;
}
.mktEdit .mktEditBtn {
  height:25px;
  font-size:12px;
  padding-left:5px;
  float:left; 
  color:blue;
  text-decoration: underline;
  line-height:25px;
  border:rgba(128, 128, 128, .5);
}
.mktEdit .mktEditBtn:hover {cursor:pointer;}

